{
  "presets": [
    "env",
    "stage-1"
  ],
  "plugins": [
    ["transform-decorators-legacy"],
    ["syntax-dynamic-import"],
    ["syntax-jsx"],
    ["transform-vue-jsx"],
    ["transform-runtime"]
  ]
}